h1 {

   color: white; 
}

aside {
    box-sizing: border-box;
    width: 30vw;
    margin-left: 20px;
    margin-top: 20px;
}

input {
    width: 100%;
    margin: 5px 0 5px 0;
}

section {
    box-sizing: border-box;
    width: 60vw;
}

.search-box {
    border-bottom: 4px solid blue;
}

.search-btn {
    width: 100%;
    margin: 5px 0 10px 0;
    font-weight: bold;
}

.history-btn {
    width: 80%;
    margin: 5px 0 10px 0;
    font-weight: bold;
}